<div class="addassignmoney">
  Configure Bank Charges
  <form [formGroup]="remitform" novalidate (ngSubmit)="save();">
    <div class="inputdiv">
  <label for="bank" class="inputlabel">Bank</label>
  <input type="text" id="bank" class="input"
  formControlName ="bank"><br />
  <span >{{errormessage.bank}}</span>
  </div>

    <div class="inputdiv">
  <label for="type" class="inputlabel">Type(Deposit or Withdrawal)</label>
  <select id="type" class="input"
  formControlName ="type">
  <option value="deposit">Deposit</option>
<option value="withdraw">Withdrawal</option>
  </select>
  </div>
  <div class="choose" id="choose" >
    <div id="chooseflatrate" (click)="choose('bounds')" >
      Configure By Flat Rate
    </div>
    <div id="choosepercentage" (click)="choose('percentage')">
      Configure By Percentage
    </div>
  </div>
  <div class="bounds display" id="bounds" >
  <div class="inputdiv">
<label for="minimumbound" class="inputlabel">Minimum Bound</label>
<input type="number" id="minimumbound" class="input"
formControlName ="minimumbound"><br />
<span >{{errormessage.minimumbound}}</span>
</div>
  <div class="inputdiv">
<label for="maxbound" class="inputlabel">Maximum Bound</label>
<input type="number" id="maxbound" class="input"
formControlName ="maxbound"><br />
<span>{{errormessage.maxbound}}</span>
</div>
<div class="inputdiv">
<label for="charges" class="inputlabel">Charges</label>
<input type="number" id="charges" class="input"
formControlName ="charges">
<span >{{errormessage.charges}}</span>
</div>



</div>
<div class="percentage nodisplay" id="percentage">
  <div class="inputdiv">
<label for="percentminimumbound" class="inputlabel">Percentage Minimum Bound</label>
<input type="number" id="percentminimumbound" class="input"
formControlName ="percentminimumbound"><br />
<span >{{errormessage.percentminimumbound}}</span>
</div>
  <div class="inputdiv">
<label for="percentmaxbound" class="inputlabel"> Percentage Maximum Bound</label>
<input type="number" id="percentmaxbound" class="input"
formControlName ="percentmaxbound"><br />
<span>{{errormessage.percentmaxbound}}</span>
</div>
<div class="inputdiv">
<label for="percentcharges" class="inputlabel">Charges</label>
<input type="number" id="percentcharges" class="input"
formControlName ="percentcharges">
<span >{{errormessage.percentcharges}}</span>
</div>


</div>




<div class="submitarea">
<div class="submitdiv">
<input type="button" id="submitassignmoney" [disabled]="!remitform.valid" (click)="save();" value="Enter" class="inputbutton">
</div>
</div>
</form>
<div class="submitarea">
<div class="submitdiv">
<button id="cancel" value="Cancel"

 class="inputbutton">
<a [routerLink]="['/admin', 'user', uid, uid, 'moneyallocated', uid]" routerLinkActive ="active">
  Cancel</a>
</button>
</div>
</div>


</div>
