body{
  margin: 0;
  padding: 0;
  outline:0;
}
.indexwrapper{
  background-image: url(/assets/bg.jpg);
  margin-top: 0px;
  width:100vw;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  /* TO Change to flex start in reg form*/
  align-items: flex-start;
  /* */
font-family: 'Dosis', sans-serif;
  /* to change */
min-height: 100vh;
overflow: hidden;
}
.loginwrapper{
  margin-top: 90px;
  /*border: 2px solid green;*/
  background-color: transparent;
  height: fit-content;
  box-shadow: -2px 3px 5px 2px rgb(3 22 37);


}
.input input{
  font-family: "Dosis", sans-serif;
}
.errormessage{
  color:red;
  display:block;
}
.invalid{
  border: 1px solid red;
}
.loginheader{
  background-color: green;
  color: white;
  padding: 10px;
  text-align: center;
}
.loginbody{
  display: flex;

  justify-content: center;
  margin-top: 15px;
  padding:0px 20px;
}
.input{
  margin-bottom: 19px;

}
.input input, .input select{
  width: 200px;
  margin-left: 15px;
  font-size: 16px;
  padding: 7px;
  padding-left: 50px;
  background-image: url(/assets/searchicon.png);
  background-position: 10px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-color: transparent;
  border:  1px solid #73ec05;
  border-radius: 20px;
  color:  #73ec05;
}
.input input:focus{
  outline: 0;
  border: 1px solid #c7faa7;

}

.input label{
  margin-right: 20px;
    color: #a6ca17;
    display: block;
    margin-bottom: 8px;
    margin-left: 15px;
      text-align: center;

}
#submit{
  background-image: url();
  width:100px;
  background-color: #164a45;
    border: none;
    padding-left: 5px;

}
.orregister{
  margin-left: 50px;
    color: #a6ca17;
}
.orregister a{
  color: #a6ca17;
}
.nav{
  position: fixed;
  top:0px;
  left: 0px;
  background-color: transparent;
  z-index: 100;

}
.nav ul{
  margin:0px;
  padding: 0px;
}
.nav ul li{
  display: inline-block;
    /* margin-left: 30px; */
    padding: 10px;
    margin-top: 10px;
    padding-top: 0;
    border-right: 2px solid #164a45;
    /* border-left: 2px solid #164a45;*/

}
.nav ul li a{
   color:#73ec19;
   font-weight: bold;
   text-decoration: none;
   font-size: 18px;
}
.uploadpicture{
  display: flex;
  justify-content: center;
}
.uploadpicture button{
  background-color: #164a45;
    color: #8db11a;
    margin-top: 10px;
    outline: 0;
    border: 0;
    border-radius: 30px;
    padding: 9px;
}
@media only screen and (min-width:1000px ){
  .input label{
    display: inline-block;
    margin-bottom: 0px;
    margin-left:0;
    text-align: left;
    width: 130px;
  }
  .loginwrapper{
    margin-top: 0px;
  }
  .input{
    margin-bottom: 30px;
  }
  .indexwrapper{
    /* TO Change to flex start in reg form*/
    align-items: center;

    /* */

  }
  .errormessage{
    color:red;
    display:inline;
  }
}
