<div class="addassignmoney">
  <form [formGroup]="remitform" novalidate (ngSubmit)="save();">


    <div class="inputdiv">
  <label for="remitwhere" class="inputlabel">Where</label>
<select id="remitwhere" class="input"
formControlName ="where">
<option value="bank">Bank</option>
<option value="hand">Hand</option>
 </select>
  </div>
  <div class="inputdiv">
<label for="remitmoney" class="inputlabel">Amount </label>
<input type="number" id="remitmoney" class="input"
formControlName ="amount">
</div>
<div class="submitarea">
<div class="submitdiv">
<input type="button" id="submitassignmoney" (click)="save();" value="Allocate" class="inputbutton">
</div>
</div>
</form>
<div class="submitarea">
<div class="submitdiv">
<button id="cancel" value="Cancel"

 class="inputbutton">
<a [routerLink]="['/admin', 'user', uid, uid, 'moneyallocated', uid]" routerLinkActive ="active">
  Cancel</a>
</button>
</div>
</div>
<div *ngIf="loading" class="loading">
  <div class="rotate">
    </div>
</div>

</div>
