

      <div class="menubutton" onclick="expanddropdown();">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>

      </div>
      <div class="dropdownwrapper">
        <div class="logoandclose">

          <div class="logo">
          <div class="logoandword">
              <img src="/assets/card.jpg">

          <div class="logoword"> Otunba POS</div>
          </div>
          </div>
          <div class="close">
            <i class="fas fa-times" onclick="closedropdown()"></i>
          </div>
        </div>
        <div class="dropdownsection">
          <div class="section">
            <div class="sectionheader">
              <div class="sectionnameandicon" onclick="expanding('zero');">
                <div class="sectionname">
                  Users
                </div>
                <div class="arrowicon">
                  <i class="fas fa-angle-right" > </i>

                </div>
              </div>
              <div class="listsectioncontent">Reg. Approval...
              </div>
            </div>
            <div class="sectioncontent">
              <ul>
                <li>
                  <a href="#">
                    <div class="contenticon">

                    </div>
                    <div class="contentname">
                      <a style="color:wheat;"
                      [routerLink] ="['/admin/registrationapprovals']">
                        Registered Vendors
                        </a>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="contenticon">

                    </div>
                    <div class="contentname">
                      <a style="color:wheat;" [routerLink] ="['/admin/users']">
                        Approved Vendors
                        </a>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="contenticon">

                    </div>
                    <div class="contentname">
                      <a style="color:wheat;" [routerLink] ="['/admin/report']">
                        Report
                        </a>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="contenticon">

                    </div>
                    <div class="contentname">
                      <a style="color:wheat;" [routerLink] ="['/admin/configure']">
                        Configure Bank Charges
                        </a>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="contenticon">

                    </div>
                    <div class="contentname">
                      <a style="color:wheat;" [routerLink] ="['/admin/configuremycharges']">
                        Configure My Charges
                        </a>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="contenticon">

                    </div>
                    <div class="contentname">
                      <a style="color:wheat;" [routerLink] ="['/admin/profit']">
                        Total Daily Profit
                        </a>
                    </div>
                  </a>
                </li>
              </ul>

            </div>

          </div>
          <div class="section">
            <div class="sectionheader">
              <div class="sectionnameandicon" onclick="expanding('one');">
                <div class="sectionname">
                  User Requests
                </div>
                <div class="arrowicon">
                  <i class="fas fa-angle-right" > </i>

                </div>
              </div>
              <div class="listsectioncontent">Registration. Appr...
              </div>
            </div>
            <div class="sectioncontent">
              <ul>

              </ul>

            </div>

          </div>
          <div class="section">
            <div class="sectionheader">
              <div class="sectionnameandicon">
                <div class="sectionname">
                </div>
                <div class="arrowicon">
                </div>
              </div>
              <div class="listsectioncontent">
              </div>
            </div>
            <div class="sectioncontent">
              <ul>
                <li>
                  <a href="#">
                    <div class="contenticon">
                    </div>
                    <div class="contentname">
                    </div>
                  </a>
                </li>
              </ul>

            </div>

          </div>
          <div class="section">
            <div class="sectionheader">
              <div class="sectionnameandicon">
                <div class="sectionname">
                </div>
                <div class="arrowicon">
                </div>
              </div>
              <div class="listsectioncontent">
              </div>
            </div>
            <div class="sectioncontent">
              <ul>
                <li>
                  <a href="#">
                    <div class="contenticon">
                    </div>
                    <div class="contentname">
                    </div>
                  </a>
                </li>
              </ul>

            </div>

          </div>
        </div>
      </div>
      <div class="adminwrapper" id="adminwrapper">
      <router-outlet></router-outlet>
      </div>
